<!DOCTYPE html>
<html>
<head>
    <title>CropMate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="home-bg">
    <nav>
        <div class="logo">🌱 CROPMATE</div>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/about">AboutUs</a>
        <a href="/crop">Crop</a>
    </nav>

    <section class="hero">
        <h1>CROPMATE</h1>
        <p>Get informed decisions about your farming strategy.</p>
        <a href="/crop" class="btn">Predict Crop</a>
    </section>
</body>
</html>