<!DOCTYPE html>
<html>
<head>
    <title>Login - CropMate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="page-bg">

<nav>
    <div class="logo">🌱 CROPMATE</div>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/about">AboutUs</a>
    <a href="/crop">Crop</a>
</nav>

<div class="login-box">

    <h2>Login Here</h2>

    <form action="/login_success" method="POST">
        <input type="email" name="email" placeholder="Enter Email Here" required>
        <input type="password" name="password" placeholder="Enter Password Here" required>

        <button type="submit" class="login-btn">Login</button>
    </form>

    <p class="signup-text">Don't have an account?</p>
    <a href="/signup" class="signup-link">Sign up here</a>

    <p class="or-text">or login with</p>

    <div class="social-login">
        <a href="#" class="google">Google</a>
        <a href="#" class="facebook">Facebook</a>
        <a href="#" class="twitter">Twitter</a>
        <a href="#" class="instagram">Instagram</a>
    </div>

</div>

</body>
</html>